:root {
  outline: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  outline: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  outline: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
:focus {
  outline: 0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  overflow: hidden;
}

.card {
  object-fit: contain;
  background: white;
  box-sizing: border-box;
  box-shadow: #ff0000;
  will-change: transform;
  transition: all .2s, background-color 0s, filter 0s;
  overflow: hidden;
  display: inline-block;
  width: 6vw;
  position: relative;
  bottom: -4vw;
  border-radius: .5em;
}

th, td {
  padding: 7px;
}


.deck-card {
  position: absolute;
  height: 250px;
  width: 142px;
  background-size: 142px 250px;
}

.left {
  left: 0;
}

.rotate {
  rotate: 90deg;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.absolute {
  position: absolute;
}

.deck {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.35);
}

.card-simple {
  width: 100%;
}

.disabled {
  outline: 100px solid rgba(255, 0, 0, 0.5) !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 6vw;
  box-sizing: border-box;
  border-radius: .5em;
}

.bottom-bar {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.right-bar {
  position: absolute;
  right: 0;
  top: 0;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.paper {
  z-index: 100;
  border-radius: 8px;
  border: 3px solid #213547;
  padding: 10px;
}
